@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/*Reescrita do SuporteDesk em sass*/
.col1 {
  width: 100%; }

.col1-5 {
  width: 75%; }

.col2 {
  width: 50%; }

.col3 {
  width: 33%; }

.col4 {
  width: 25%; }

.title, h1, h2, h3, h4 {
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-weight: bold; }

.title2 {
  text-align: center;
  padding: 8px 0px 8px 0px;
  font-weight: bold; }

.imagem-paralax, header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 20px; }

.legenda {
  background: linear-gradient(to top left, transparent, rgba(171, 171, 171, 0.68));
  background: -webkit-linear-gradient(to top left, transparent, rgba(171, 171, 171, 0.68));
  background: -webkit-o-linear-gradient(to top left, transparent, rgba(171, 171, 171, 0.68));
  background: -moz-linear-gradient(to top left, transparent, rgba(171, 171, 171, 0.68));
  background: -ms-linear-gradient(to top left, transparent, rgba(171, 171, 171, 0.68));
  background: -o-linear-gradient(to top left, transparent, rgba(171, 171, 171, 0.68));
  margin: 175px 30px 30px 30px;
  padding: 10px 0px 10px 0px;
  border-radius: 5px; }

.fechar {
  top: 5px;
  right: 15px;
  position: absolute;
  text-align: right;
  float: right; }

h1 {
  color: #404040;
  background-color: #88d4d1;
  font-size: 48; }

h2 {
  color: #88d4d1;
  background-color: #404040;
  font-size: 32; }

h3 {
  color: #404040;
  font-size: 24; }

h4 {
  color: #404040;
  font-size: 16; }

h5 {
  color: #404040;
  font-size: 16; }

.logo-image {
  width: 350px;
  align-items: center;
  padding: 30px 0px 0px 20px; }

#logo {
  width: 40%;
  float: left; }

#menu {
  display: inline-block; }

#opcoes-menu {
  top: 85px;
  left: 50px;
  position: fixed;
  z-index: 9999;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: none; }

header {
  background-image: url("../img/manutencao-pc-large.jpg"); }
  header p {
    font-size: 35px;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 200px 50px 0px 50px;
    padding-top: 200px; }

.slider {
  height: 70%;
  width: 70%; }

#delivery {
  position: absolute; }

.tab-services {
  height: 700px;
  background-image: url("../img/redes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  margin-top: 10px; }

.plan-form, .plan-format-bas, .plan-format-int, .plan-format-av {
  height: 80%;
  margin: 0% 4% 2% 4%;
  padding: 7px 0px 7px 0px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat; }

.plan-format {
  height: 700px;
  width: 100%;
  margin: -25px 0px 10px 0px;
  font-weight: bold;
  text-align: center; }
  .plan-format h3 {
    background-color: #fff;
    /*background:linear-gradient(to bottom right,white,rgba(144, 212, 209, 0.62));*/
    background: linear-gradient(to bottom right, #fff, rgba(144, 212, 209, 0.62));
    background: -webkit-linear-gradient(to bottom right, #fff, rgba(144, 212, 209, 0.62));
    background: -webkit-o-linear-gradient(to bottom right, #fff, rgba(144, 212, 209, 0.62));
    background: -moz-linear-gradient(to bottom right, #fff, rgba(144, 212, 209, 0.62));
    background: -ms-linear-gradient(to bottom right, #fff, rgba(144, 212, 209, 0.62));
    background: -o-linear-gradient(to bottom right, #fff, rgba(144, 212, 209, 0.62));
    padding-bottom: 10px;
    margin-bottom: 45px;
    /*transform:rotate(-90deg);*/
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-o-transform: rotate(0deg);
    -o-transform: rotate(0deg); }

.plan-format-bas {
  float: left;
  background-image: url("../img/formatacao-plan-basico.jpg");
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-o-transform: rotate(0deg);
  -o-transform: rotate(0deg); }
  .plan-format-bas ul {
    margin-top: 90%;
    text-align: left;
    border-right: 1px solid #000; }

.plan-format-int {
  float: left;
  background-image: url("../img/formatacao-plan-intermediario.jpg"); }
  .plan-format-int ul {
    margin-top: 90%;
    text-align: left;
    border-right: 1px solid #000; }

.plan-format-av {
  float: right;
  background-image: url("../img/formatacao-plan-avancado.jpg"); }
  .plan-format-av ul {
    margin-top: 90%;
    text-align: left;
    border-right: 1px solid #000; }

.legenda-plan {
  background-color: rgba(128, 128, 128, 0.42);
  margin: 0px auto 0px auto;
  padding: 10px 0px 10px 0px;
  border-radius: 11px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -webkit-o-border-radius: 11px;
  -o-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  color: #cafffd; }

.destaque {
  background-color: rgba(128, 128, 128, 0.06); }

    /*-----------------------
	Servicos Diversos
	-------------------------*/
#services {
  background: url("../img/configuracao4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: -10px;
  color: white;
  opacity: 0.5px; }

#formatacao servico img,
#instalacao servico img,
#configuracao servico img,
#troca-pecas servico img,
#manutencao servico img,
#recuperacao-componente servico img,
#upgrade servico img,
#troca-tela servico img,
#troca-bateria servico img {
  position: relative; }

.more-details {
  position: absolute;
  display: none;
  top: 39%;
  left: 33%; }

#servicos-diversos,
#manutencao-pc,
#manutencao-note,
#contact {
  width: 100%;
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 00px 0px; }

#servicos-diversos {
  margin-top: 0px;
  padding-top: 0px; }

#servicos-diversos .servicos,
#manutencao-pc .servicos,
#manutencao-note .servicos,
#contact .servicos {
  width: 30%; }

#servicos-diversos > h2,
#servicos-diversos {
  margin-top: 0% !important; }

#servicos-diversos h3,
#manutencao-pc h3,
#manutencao-note h3 {
  background: #88d4d1;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-o-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 10px 0px 20px 0px; }

.servicos:hover {
  background-color: rgba(217, 217, 217, 0.29); }

#formatacao,
#instalacao,
#configuracao,
#troca-pecas,
#manutencao,
#recuperacao-componente,
#upgrade,
#troca-tela,
#troca-bateria {
  width: 30%;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 2.2%;
  padding: 0px 8px 0px 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-o-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  position: relative;
  border: 1px solid rgba(6, 6, 6, 0.15); }

#formatacao h5,
#instalacao h5,
#configuracao h5,
#troca-pecas h5,
#manutencao h5,
#recuperacao-componente h5,
#upgrade h5,
#troca-tela h5,
#troca-bateria h5 {
  border: 1px solid rgba(0, 0, 0, 0.09); }

#formatacao:hover,
#instalacao:hover,
#configuracao:hover,
#troca-pecas:hover,
#manutencao:hover,
#recuperacao-componente:hover,
#upgrade:hover,
#troca-tela:hover,
#troca-bateria:hover {
  box-shadow: 0px, 4px, 8px, #000;
  -webkit-box-shadow: 0px, 4px, 8px, #000;
  -webkit-o-box-shadow: 0px, 4px, 8px, #000;
  -o-box-shadow: 0px, 4px, 8px, #000;
  -ms-box-shadow: 0px, 4px, 8px, #000;
  -moz-box-shadow: 0px, 4px, 8px, #000; }

.contraste-preto h5 {
  background: linear-gradient(rgba(189, 189, 189, 0.26), white, rgba(189, 189, 189, 0.26)); }

.contraste-preto:hover h5 {
  background: linear-gradient(rgba(21, 189, 179, 0.11), white, rgba(21, 189, 179, 0.11));
  background: -webkit-linear-gradient(rgba(21, 189, 179, 0.11), white, rgba(21, 189, 179, 0.11));
  background: -webkit-o-linear-gradient(rgba(21, 189, 179, 0.11), white, rgba(21, 189, 179, 0.11));
  background: -moz-linear-gradient(rgba(21, 189, 179, 0.11), white, rgba(21, 189, 179, 0.11));
  background: -ms-linear-gradient(rgba(21, 189, 179, 0.11), white, rgba(21, 189, 179, 0.11));
  background: -o-linear-gradient(rgba(21, 189, 179, 0.11), white, rgba(21, 189, 179, 0.11)); }

#formatacao > .servico,
#instalacao > .servico,
#configuracao > .servico,
#troca-pecas > .servico,
#manutencao > .servico,
#recuperacao-componente > .servico,
#upgrade > .servico,
#troca-tela > .servico,
#troca-bateria > .servico {
  float: left;
  margin: 5px 5px 5px 5px;
  height: 315px;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center; }

.servico img {
  width: 400px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-o-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border: 1px solid rgba(6, 6, 6, 0.19); }

#formatacao > .descricao-servico,
#instalacao > .descricao-servico,
#configuracao > .descricao-servico,
#troca-pecas > .descricao-servico,
#manutencao > .descricao-servico,
#recuperacao-componente > .descricao-servico,
#upgrade > .descricao-servico,
#troca-tela > .descricao-servico,
#troca-bateria > .descricao-servico {
  margin-top: -5%; }

#formatacao:hover .more-details,
#instalacao:hover .more-details,
#configuracao:hover .more-details,
#troca-pecas:hover .more-details,
#manutencao:hover .more-details,
#recuperacao-componente:hover .more-details,
#upgrade:hover .more-details,
#troca-tela:hover .more-details,
#troca-bateria:hover .more-details {
  display: block; }

#formatacao:target:before {
  display: block; }

.fechar {
  top: 5px;
  right: 15px;
  position: absolute;
  text-align: right;
  float: right; }

.ModalContainer, .planFormatModalContainer, #instalacaoModalContainer, #configModalContainer, #checkModalContainer, #montModalContainer, #recuperacaoModalContainer, #manutModalContainer, #telaModalContainer, #bateriaModalContainer, #versaoModalContainer {
  z-index: 9999;
  position: fixed;
  background-color: #fff;
  border: 2px solid gray;
  width: 90%;
  height: 95%;
  overflow: scroll;
  margin-left: 50%;
  margin-top: 2%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-o-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  transform: translate(-50%, -2000%);
  -webkit-transform: translate(-50%, -2000%);
  -ms-transform: translate(-50%, -2000%);
  -moz-transform: translate(-50%, -2000%);
  -webkit-o-transform: translate(-50%, -2000%);
  -o-transform: translate(-50%, -2000%); }

.ModalBefore, #planFormatModal:before, #instalacaoModal:before, #configModal:before, #checkModal:before, #montModal:before, #recuperacaoModal:before, #manutModal:before, #telaModal:before, #bateriaModal:before, #versaoModal:before {
  z-index: 9950;
  content: "";
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; }

#planFormatModal:target:before {
  display: block; }

#planFormatModal:target .planFormatModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#instalacaoModal:target:before {
  display: block; }

#instalacaoModal:target #instalacaoModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#configModal:target:before {
  display: block; }

#configModal:target #configModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#checkModal:target:before {
  display: block; }

#checkModal:target #checkModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#montModal:target:before {
  display: block; }

#montModal:target #montModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#recuperacaoModal:target:before {
  display: block; }

#recuperacaoModal:target #recuperacaoModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#manutModal:target:before {
  display: block; }

#manutModal:target #manutModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#telaModal:target:before {
  display: block; }

#telaModal:target #telaModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#bateriaModal:target:before {
  display: block; }

#bateriaModal:target #bateriaModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
#versaoModal:target:before {
  display: block; }

#versaoModal:target #versaoModalContainer {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-o-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

    /*
		#
	*/
.service-image {
  filter: brightness(1); }

#formatacao:hover .service-image,
#instalacao:hover .service-image,
#configuracao:hover .service-image,
#troca-pecas:hover .service-image,
#manutencao:hover .service-image,
#recuperacao-componente:hover .service-image,
#upgrade:hover .service-image,
#troca-tela:hover .service-image,
#troca-bateria:hover .service-image {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -webkit-o-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  -moz-filter: blur(2px); }

.descricao-servico {
  padding: 2px 2px 2px 2px;
  width: 45%;
  height: 200px;
  font: 20px bold, "Courier New";
  left: 15%;
  position: absolute;
  top: 37%;
  display: none;
  margin-top: -250px;
  font-weight: bold; }

.descricao-servico > li {
  width: 200%; }

    /*
	=========================================
		Servicos 
	=========================================
	*/
.services1,
.services2,
.services3 {
  width: 25%;
  margin: 25px 10px 30px 1%;
  border: 1px solid #ccc;
  background-color: #b3b3b3;
  text-align: center;
  float: left;
  transition-duration: 1s; }

.services1:hover,
.services2:hover,
.services3:hover {
  color: #fff; }

.services2 > img,
.services3 > img {
  width: 100%; }

.services1 > img {
  width: 340px; }

    /*
	=========================================
		Grupo Contatos
	=========================================
	*/
#tel {
  background: url("../img/imagem.png") no-repeat -71px -227px;
  width: 32px;
  height: 32px; }

#whats {
  background: url("../img/imagem.png") no-repeat -203px -228px;
  width: 32px;
  height: 32px; }

#map {
  background: url("../img/imagem.png") no-repeat -327px -232px;
  width: 32px;
  height: 32px; }

    /*
	=========================================
		Grupo Formas Pagamento
	=========================================
	*/
#como-chegar {
  background-color: #88d4d1; }
  #como-chegar h2 {
    background-color: #404040; }

    /*
	=========================================
		Grupo Formas Pagamento
	=========================================
	*/
#formasPagamento {
  padding: 0% 0% 0% 0%; }

#pagamento {
  background: url("../img/imagem.png") no-repeat -417px -155px;
  width: 930px;
  height: 463px;
  margin: auto auto 2% auto; }

    /*
	=========================================
		Grupo Footer
	=========================================
	*/
footer {
  padding-top: 5px;
  margin: 0px;
  height: 45px;
  color: #fff;
  background-color: #404040;
  clear: both;
  font-family: verdana;
  text-align: center; }

    /*
	=========================================
		Sub Grupo Footer Rodap├âãÆ├é┬®
	=========================================
	*/
.copyright {
  text-align: left;
  color: #88d4d1;
  font-size: 16px;
  font-weight: bold;
  width: 45%; }
  .copyright > a {
    text-decoration: none;
    color: #88d4d1;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -webkit-o-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s; }
  .copyright > a:hover {
    color: #000; }
  .copyright #autor,
  .copyright #site {
    font-weight: bold;
    color: #88d4d1;
    text-decoration: none;
    float: right; }
    .copyright #autor :hover,
    .copyright #site :hover {
      color: #000; }
  .copyright #source {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-align: right; }
    .copyright #source :hover {
      color: #000; }

.ano {
  width: 40%;
  float: left; }

.versoes {
  width: 40%;
  float: right; }

/*# sourceMappingURL=custom.css.map */
