    * {
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }
    
    $font-stack: Helvetica,
    sans-serif;
    $font-size-small:12;
    $font-size-regular:16;
    $font-size-large:24;
    $font-size-x-regular:32;
    $font-size-xx-regular:48;
    $font-size-xxx-regular:64;
    $font-size-xxxx-regular:96;
    $primaryColor: #88d4d1;
    $green2:#699;
    $secondColor: #404040;
    $black:#000;
    $white:#fff;
    @mixin border-radius($value) {
        border-radius: $value;
        -webkit-border-radius: $value;
        -webkit-o-border-radius: $value;
        -o-border-radius: $value;
        -moz-border-radius: $value;
        -ms-border-radius: $value;
    }
    
    @mixin transform ($value) {
        transform: $value;
        -webkit-transform: $value;
        -ms-transform: $value;
        -moz-transform: $value;
        -webkit-o-transform: $value;
        -o-transform: $value;
    }
    
    @mixin rotate ($value) {
        @include transform(rotate($value))
    }
    
    @mixin linear-gradiente ($cor0, $cor1, $cor2) {
        background: linear-gradient($cor0, $cor1, $cor2);
        background: -webkit-linear-gradient($cor0, $cor1, $cor2);
        background: -webkit-o-linear-gradient($cor0, $cor1, $cor2);
        background: -moz-linear-gradient($cor0, $cor1, $cor2);
        background: -ms-linear-gradient($cor0, $cor1, $cor2);
        background: -o-linear-gradient($cor0, $cor1, $cor2);
    }
    
    @mixin box-shadow ($val1, $val2, $val3, $color) {
        box-shadow: $val1, $val2, $val3, $color;
        -webkit-box-shadow: $val1, $val2, $val3, $color;
        -webkit-o-box-shadow: $val1, $val2, $val3, $color;
        -o-box-shadow: $val1, $val2, $val3, $color;
        -ms-box-shadow: $val1, $val2, $val3, $color;
        -moz-box-shadow: $val1, $val2, $val3, $color;
    }
    
    @mixin translate ($val1, $val2) {
        transform: translate($val1, $val2);
        -webkit-transform: translate($val1, $val2);
        -ms-transform: translate($val1, $val2);
        -moz-transform: translate($val1, $val2);
        -webkit-o-transform: translate($val1, $val2);
        -o-transform: translate($val1, $val2);
    }
    
    @mixin filter($value) {
        filter: $value;
        -webkit-filter: $value;
        -webkit-o-filter: $value;
        -o-filter: $value;
        -ms-filter: $value;
        -moz-filter: $value;
    }
    
    @mixin brightness ($value) {
        @include filter(brightness($value));
    }
    
    @mixin blur ($value) {
        @include filter(blur($value));
    }
    
    @mixin transition-duration ($value) {
        transition-duration: $value;
        -webkit-transition-duration: $value;
        -webkit-o-transition-duration: $value;
        -o-transition-duration: $value;
        -moz-transition-duration: $value;
        -ms-transition-duration: $value;
    }
    /*Reescrita do SuporteDesk em sass*/
    
    .col1 {
        width: 100%;
    }
    
    .col1-5 {
        width: 75%;
    }
    
    .col2 {
        width: 50%
    }
    
    .col3 {
        width: 33%
    }
    
    .col4 {
        width: 25%
    }
    
    .title {
        text-align: center;
        padding: 20px 0px 20px 0px;
        font-weight: bold
    }
    
    .title2 {
        text-align: center;
        padding: 8px 0px 8px 0px;
        font-weight: bold
    }
    
    .imagem-paralax {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    .legenda {
        @include linear-gradiente(to top left, transparent, rgba(171, 171, 171, 0.68));
        margin: 175px 30px 30px 30px;
        padding: 10px 0px 10px 0px;
        border-radius: 5px;
    }
    
    .fechar {
        top: 5px;
        right: 15px;
        position: absolute;
        text-align: right;
        float: right;
    }
    
    h1 {
        @extend .title;
        color: $secondColor;
        background-color: $primaryColor;
        font-size: $font-size-xx-regular;
    }
    
    h2 {
        @extend .title;
        color: $primaryColor;
        background-color: $secondColor;
        font-size: $font-size-x-regular;
    }
    
    h3 {
        @extend .title;
        color: $secondColor;
        font-size: $font-size-large;
    }
    
    h4 {
        @extend .title;
        color: $secondColor;
        font-size: $font-size-regular;
    }
    
    h5 {
        color: $secondColor;
        font-size: $font-size-regular;
    }
    
    .logo-image {
        width: 350px;
        align-items: center;
        padding: 30px 0px 0px 20px;
    }
    
    #logo {
        width: 40%;
        float: left;
    }
    
    #menu {
        display: inline-block;
    }
    
    #opcoes-menu {
        top: 85px;
        left: 50px;
        position: fixed;
        z-index: 9999;
        color: $white;
        font-weight: bold;
        font-size: 18px;
        display: none;
    }
    
    header {
        @extend .imagem-paralax;
        background-image: url("../img/manutencao-pc-large.jpg");
        p {
            font-size: 35px;
            color: $black;
            font-weight: bold;
            text-align: center;
            padding: 200px 50px 0px 50px;
            padding-top: 200px;
        }
    }
    
    .slider {
        height: 70%;
        width: 70%;
    }
    
    #delivery {
        position: absolute;
    }
    
    .tab-services {
        height: 700px;
        background-image: url("../img/redes.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
        margin-top: 10px;
    }
    
    .plan-form {
        height: 80%;
        margin: 0% 4% 2% 4%;
        padding: 7px 0px 7px 0px;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .plan-format {
        height: 700px;
        width: 100%;
        margin: -25px 0px 10px 0px;
        font-weight: bold;
        text-align: center;
        h3 {
            background-color: $white;
            /*background:linear-gradient(to bottom right,white,rgba(144, 212, 209, 0.62));*/
            @include linear-gradiente(to bottom right,
            $white,
            rgba(144,
            212,
            209,
            0.62));
            padding-bottom: 10px;
            margin-bottom: 45px;
            /*transform:rotate(-90deg);*/
            @include rotate(0deg);
        }
    }
    
    .plan-format-bas {
        @extend .plan-form;
        float: left;
        background-image: url("../img/formatacao-plan-basico.jpg");
        @include rotate(0deg);
        ul {
            margin-top: 90%;
            text-align: left;
            border-right: 1px solid $black;
        }
    }
    
    .plan-format-int {
        @extend .plan-form;
        float: left;
        background-image: url("../img/formatacao-plan-intermediario.jpg");
        ul {
            margin-top: 90%;
            text-align: left;
            border-right: 1px solid $black;
        }
    }
    
    .plan-format-av {
        @extend .plan-form;
        float: right;
        background-image: url("../img/formatacao-plan-avancado.jpg");
        ul {
            margin-top: 90%;
            text-align: left;
            border-right: 1px solid $black;
        }
    }
    
    .legenda-plan {
        background-color: rgba(128, 128, 128, 0.42);
        margin: 0px auto 0px auto;
        padding: 10px 0px 10px 0px;
        border-radius: 11px;
        @include border-radius(11px);
        color: #cafffd;
    }
    
    .destaque {
        background-color: rgba(128, 128, 128, 0.06);
    }
    /*-----------------------
	Servicos Diversos
	-------------------------*/
    
    #services {
        background: url('../img/configuracao4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        margin-bottom: -10px;
        color: white;
        opacity: 0.5px;
    }
    
    #formatacao servico img,
    #instalacao servico img,
    #configuracao servico img,
    #troca-pecas servico img,
    #manutencao servico img,
    #recuperacao-componente servico img,
    #upgrade servico img,
    #troca-tela servico img,
    #troca-bateria servico img {
        position: relative;
    }
    
    .more-details {
        position: absolute;
        display: none;
        top: 39%;
        left: 33%;
    }
    
    #servicos-diversos,
    #manutencao-pc,
    #manutencao-note,
    #contact {
        width: 100%;
        margin: 0px 20px 0px 0px;
        padding: 0px 0px 00px 0px;
    }
    
    #servicos-diversos {
        margin-top: 0px;
        padding-top: 0px;
    }
    
    #servicos-diversos .servicos,
    #manutencao-pc .servicos,
    #manutencao-note .servicos,
    #contact .servicos {
        width: 30%;
    }
    
    #servicos-diversos>h2,
    #servicos-diversos {
        margin-top: 0% !important;
    }
    
    #servicos-diversos h3,
    #manutencao-pc h3,
    #manutencao-note h3 {
        background: rgb(136, 212, 209);
        color: #fff;
        text-align: center;
        @include border-radius(3px);
        padding: 10px 0px 20px 0px;
    }
    
    .servicos:hover {
        background-color: rgba(217, 217, 217, 0.29);
    }
    
    #formatacao,
    #instalacao,
    #configuracao,
    #troca-pecas,
    #manutencao,
    #recuperacao-componente,
    #upgrade,
    #troca-tela,
    #troca-bateria {
        width: 30%;
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 2.2%;
        padding: 0px 8px 0px 8px;
        @include border-radius (8px);
        position: relative;
        border: 1px solid rgba(6, 6, 6, 0.15);
    }
    
    #formatacao h5,
    #instalacao h5,
    #configuracao h5,
    #troca-pecas h5,
    #manutencao h5,
    #recuperacao-componente h5,
    #upgrade h5,
    #troca-tela h5,
    #troca-bateria h5 {
        border: 1px solid rgba(0, 0, 0, 0.09);
    }
    
    #formatacao:hover,
    #instalacao:hover,
    #configuracao:hover,
    #troca-pecas:hover,
    #manutencao:hover,
    #recuperacao-componente:hover,
    #upgrade:hover,
    #troca-tela:hover,
    #troca-bateria:hover {
        @include box-shadow(0px,
        4px,
        8px,
        $black);
    }
    
    .contraste-preto h5 {
        background: linear-gradient(rgba(189, 189, 189, 0.26), white, rgba(189, 189, 189, 0.26));
    }
    
    .contraste-preto:hover h5 {
        @include linear-gradiente(rgba(21,
        189,
        179,
        0.11),
        white,
        rgba(21,
        189,
        179,
        0.11));
    }
    
    #formatacao>.servico,
    #instalacao>.servico,
    #configuracao>.servico,
    #troca-pecas>.servico,
    #manutencao>.servico,
    #recuperacao-componente>.servico,
    #upgrade>.servico,
    #troca-tela>.servico,
    #troca-bateria>.servico {
        float: left;
        margin: 5px 5px 5px 5px;
        height: 315px;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
    }
    
    .servico img {
        width: 400px;
        @include border-radius(5px);
        border: 1px solid rgba(6, 6, 6, 0.19);
    }
    
    #formatacao>.descricao-servico,
    #instalacao>.descricao-servico,
    #configuracao>.descricao-servico,
    #troca-pecas>.descricao-servico,
    #manutencao>.descricao-servico,
    #recuperacao-componente>.descricao-servico,
    #upgrade>.descricao-servico,
    #troca-tela>.descricao-servico,
    #troca-bateria>.descricao-servico {
        margin-top: -5%;
    }
    
    #formatacao:hover .more-details,
    #instalacao:hover .more-details,
    #configuracao:hover .more-details,
    #troca-pecas:hover .more-details,
    #manutencao:hover .more-details,
    #recuperacao-componente:hover .more-details,
    #upgrade:hover .more-details,
    #troca-tela:hover .more-details,
    #troca-bateria:hover .more-details {
        display: block;
    }
    
    #formatacao:target:before {
        display: block;
    }
    
    .fechar {
        top: 5px;
        right: 15px;
        position: absolute;
        text-align: right;
        float: right;
    }
    
    .ModalContainer {
        z-index: 9999;
        position: fixed;
        background-color: #fff;
        border: 2px solid gray;
        width: 90%;
        height: 95%;
        overflow: scroll;
        margin-left: 50%;
        margin-top: 2%;
        @include border-radius(10px);
        @include translate(-50%,
        -2000%);
    }
    
    .ModalBefore {
        z-index: 9950;
        content: "";
        position: fixed;
        display: none;
        left: 0px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }
    
    .planFormatModalContainer {
        @extend .ModalContainer;
    }
    
    #planFormatModal:before {
        @extend .ModalBefore;
    }
    
    #planFormatModal:target:before {
        display: block;
    }
    
    #planFormatModal:target .planFormatModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #instalacaoModalContainer {
        @extend .ModalContainer;
    }
    
    #instalacaoModal:before {
        @extend .ModalBefore;
    }
    
    #instalacaoModal:target:before {
        display: block;
    }
    
    #instalacaoModal:target #instalacaoModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #configModalContainer {
        @extend .ModalContainer;
    }
    
    #configModal:before {
        @extend .ModalBefore;
    }
    
    #configModal:target:before {
        display: block;
    }
    
    #configModal:target #configModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #checkModalContainer {
        @extend .ModalContainer;
    }
    
    #checkModal:before {
        @extend .ModalBefore;
    }
    
    #checkModal:target:before {
        display: block;
    }
    
    #checkModal:target #checkModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #montModalContainer {
        @extend .ModalContainer;
    }
    
    #montModal:before {
        @extend .ModalBefore;
    }
    
    #montModal:target:before {
        display: block;
    }
    
    #montModal:target #montModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #recuperacaoModalContainer {
        @extend .ModalContainer;
    }
    
    #recuperacaoModal:before {
        @extend .ModalBefore;
    }
    
    #recuperacaoModal:target:before {
        display: block;
    }
    
    #recuperacaoModal:target #recuperacaoModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #manutModalContainer {
        @extend .ModalContainer;
    }
    
    #manutModal:before {
        @extend .ModalBefore;
    }
    
    #manutModal:target:before {
        display: block;
    }
    
    #manutModal:target #manutModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #telaModalContainer {
        @extend .ModalContainer;
    }
    
    #telaModal:before {
        @extend .ModalBefore;
    }
    
    #telaModal:target:before {
        display: block;
    }
    
    #telaModal:target #telaModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #bateriaModalContainer {
        @extend .ModalContainer;
    }
    
    #bateriaModal:before {
        @extend .ModalBefore;
    }
    
    #bateriaModal:target:before {
        display: block;
    }
    
    #bateriaModal:target #bateriaModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    #versaoModalContainer {
        @extend .ModalContainer;
    }
    
    #versaoModal:before {
        @extend .ModalBefore;
    }
    
    #versaoModal:target:before {
        display: block;
    }
    
    #versaoModal:target #versaoModalContainer {
        @include translate(-50%,
        0);
    }
    /*
		#
	*/
    
    .service-image {
        filter: brightness(1);
    }
    
    #formatacao:hover .service-image,
    #instalacao:hover .service-image,
    #configuracao:hover .service-image,
    #troca-pecas:hover .service-image,
    #manutencao:hover .service-image,
    #recuperacao-componente:hover .service-image,
    #upgrade:hover .service-image,
    #troca-tela:hover .service-image,
    #troca-bateria:hover .service-image {
        @include blur(2px);
    }
    
    .descricao-servico {
        padding: 2px 2px 2px 2px;
        width: 45%;
        height: 200px;
        font: 20px bold, "Courier New";
        left: 15%;
        position: absolute;
        top: 37%;
        display: none;
        margin-top: -250px;
        font-weight: bold;
    }
    
    .descricao-servico>li {
        width: 200%;
    }
    /*
	=========================================
		Servicos 
	=========================================
	*/
    
    .services1,
    .services2,
    .services3 {
        width: 25%;
        margin: 25px 10px 30px 1%;
        border: 1px solid #ccc;
        background-color: #b3b3b3;
        text-align: center;
        float: left;
        transition-duration: 1s;
    }
    
    .services1:hover,
    .services2:hover,
    .services3:hover {
        color: #fff;
    }
    
    .services2>img,
    .services3>img {
        width: 100%;
    }
    
    .services1>img {
        width: 340px;
    }
    /*
	=========================================
		Grupo Contatos
	=========================================
	*/
    
    #tel {
        background: url('../img/imagem.png') no-repeat -71px -227px;
        width: 32px;
        height: 32px;
    }
    
    #whats {
        background: url('../img/imagem.png') no-repeat -203px -228px;
        width: 32px;
        height: 32px;
    }
    
    #map {
        background: url('../img/imagem.png') no-repeat -327px -232px;
        width: 32px;
        height: 32px;
    }
    /*
	=========================================
		Grupo Formas Pagamento
	=========================================
	*/
    
    #como-chegar {
        background-color: $primaryColor;
        h2 {
            background-color: $secondColor;
        }
    }
    /*
	=========================================
		Grupo Formas Pagamento
	=========================================
	*/
    
    #formasPagamento {
        padding: 0% 0% 0% 0%;
    }
    
    #pagamento {
        background: url('../img/imagem.png') no-repeat -417px -155px;
        width: 930px;
        height: 463px;
        margin: auto auto 2% auto;
    }
    /*
	=========================================
		Grupo Footer
	=========================================
	*/
    
    footer {
        padding-top: 5px;
        margin: 0px;
        height: 45px;
        color: $white;
        background-color: $secondColor;
        clear: both;
        font-family: verdana;
        text-align: center;
    }
    /*
	=========================================
		Sub Grupo Footer RodapÃƒÂ©
	=========================================
	*/
    
    .copyright {
        text-align: left;
        color: $primaryColor;
        font-size: 16px;
        font-weight: bold;
        width: 45%;
        >a {
            text-decoration: none;
            color: $primaryColor;
            @include transition-duration(1s);
        }
        >a:hover {
            color: $black;
        }
        #autor,
        #site {
            font-weight: bold;
            color: $primaryColor;
            text-decoration: none;
            float: right;
             :hover {
                color: $black;
            }
        }
        #source {
            font-family: 'Orbitron', sans-serif;
            font-weight: bold;
            color: $black;
            text-decoration: none;
            text-align: right;
             :hover {
                color: $black;
            }
        }
    }
    
    .ano {
        width: 40%;
        float: left;
    }
    
    .versoes {
        width: 40%;
        float: right;
    }